
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background:  linear-gradient(
        30deg, #1e1d1d 0%,
        #cba783 5%,
        #4d4c4c47 60%,
        #8a6f46 90%
    );
}
.main {
    display: flex;
    
    
}
#operators {
    display: flex;
    flex-direction: column;
}



.display{
    display: flex;
    flex-grow: 1;
    justify-content: right;
    font-family: 'Calculator', sans-serif;                                   
    background-color: black;
    color:#7092f0;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 36px;
    font-weight: bolder;
    border-radius: 10px;
}

.containAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    margin: 100px;
    border-radius: 50px; 
    background:  linear-gradient(
        100deg, #1e1d1d 0%,
        #727272 25%,
        #e3e3e3 50%,
        #393838 100%
    );
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

button {
    font-weight: bolder;
    font-size: 100%;
    color: black;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    background:
        linear-gradient(
            100deg, #787878 0%,
            #b5b5b5 25%,
            #e3e3e3 50%,
            #787878 100%

        );
}

 #misc, #operator{
    background: linear-gradient(
        70deg, #844414 0%,
                #9c5f3d 25%,
                #fcd5be 50%,
                #cf7d52 75%,
                #844414 100%   
    );
}
footer {
    font-weight: bolder;
}