body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
}
#mainContainer {
    display: flex;
    
}
#operators {
    display: flex;
    flex-direction: column;
}

#numButtons{
    display: flex;
    gap: 2px;
}

.display{
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 15px;
    text-align: right;
}

.containAll {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 100px;
    margin: 100px;
    
}